nav ul {
  list-style-type: none;
  li {
    display: inline-block;
    margin: {
      left: 20px;
      right: 20px;
    }
    a {
      text-decoration: none;
    }
  }
}

.list {
  border: 2px solid;
  li {
    list-style-type: square;
  }
}
