@import './variable';

h1 {
  color: $color;
  font-size: 4em;
  text-align: left;
}

header {
  background-color: #fff;
  .navigation {
    height: 150px;
    a {
      text-decoration: none;
      &:hover {
        color: #000
      }
    }
  }
}
