/* body {
  background-color: #cf7878;
} */

h1 {
  text-align: center;
  text-transform: capitalize;
}

/* 1000px wide or more */
/* @media (min-width: 1000px) {
  body {
    background-color: #c96767;
  }
  h1 {
    font-size: 10em;
    rotate: 45deg;
  }
} */

/* up to maximum of 1000px width */
/* @media (max-width: 1000px) {
  body {
    background-color: #2cb6dc;
  }
  h1 {
    font-size: 5em;
    rotate: -45deg;
  }
} */

@media (max-width: 800px) {
    body {
      background-color: #db2a2a;
    }
}

@media (min-width: 800px) and (max-width: 1800px) {
  body {
    background-color: #0aced2;
  }
}

@media (min-width: 1800px) {
    body {
      background-color: #41b425;
    }
}

@media (max-width: 900px) {
  h1 {
    font-size: 5em;
    rotate: -45deg;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 5em;
    rotate: 45deg;
  }
}