header {
  height: 150px;
  background-color: var(--primary-color);
}

.navigation {
  text-align: center;
  line-height: 150px;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--font-family);
  font-size: 2em;
  margin: 0 30px;
  transition-property: color;
  transition-duration: 500ms;
}

.navigation a:hover {
  color: var(--secondary-color);
}
