.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.column {
  float: left;
  padding: 5px;
}

@media (max-width: 700px) {
  .column {
    width: 100%;
  }
}

@media (min-width: 700px) and (max-width: 1300px) {
  .column {
    width: 50%;
  }
}

@media (min-width: 1300px) {
  .column {
    width: 25%;
  }
}
